<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/semantic/semantic.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <title>Document</title>
</head>
<body>
    <div class="ui inverted segment">
        <h1>GUIDE TOURISTIQUE ADMINISTRATEUR</h1>
      </div>

<h1>admin connectez vous</h1>

<form action="/admin/login" method="POST" class="ui form" style="width: 70%">
    <div class="field">
      <label>Adresse E-mail</label>
      <input type="email" name="email" >
    </div>
    <div class="field">
      <label>Mot de passe</label>
      <input type="password" name="mdp">
    </div>
    <button class="ui labeled icon button">
      <font style="vertical-align: inherit;">
        <font style="vertical-align: inherit;">
          Se connecter
        </font>
      </font>
    </button>
  </form>
 
  
    <% if (locals.message) { %>

      <div class="ui red message">
          <%- message %>
      </div>
  <% } %>


<%- include ('./includesad/footer.ejs') %>