
<div class= "banfooter">
        
        
        <div class="imgfooter">
                <img src="../../img/CG-Unesco.jpg">
                <div class="textimgfooter">
                <h1 > Territoire inscrit au patrimoine </h1> 
                <h1 > mondial de l'Unesco </h1>
                </div>
        </div>
        
</div>
        
<div class="footercontact">
        <div class="logo">
                <img class="imglogo" src = "../../img/logo r.jpg">
        </div>
        <a href="/admin">
                <button class="ui labeled icon button">
                  <i class="plus icon"></i>
                  <font style="vertical-align: inherit;">
                    <font style="vertical-align: inherit;">
                      Se connecter
                    </font>
                  </font>
                </button>
              </a>
        <div class="reseausociale">
                <div class="tailleicon"><img class="iconcont" src = "../../img/fb.png"></div>
                <div class="tailleicon"><img class="iconcont" src = "../../img/inst.png"></div>
                <div class="tailleicon"> <img class="iconcont" src = "../../img/twit.png"></div>
                
               
        </div>
</div>
</div>
</body>

</html>