<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/semantic/semantic.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <title>Document</title>
</head>
<body>
    <div class='imgheader'>
        <header class="ui blue inverted menu nav">
                <div class="right menu">
                <a href="../index.ejs" class="item"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Accueil</font></font></a>
                <a href="../index.ejs#tlieux" class="item"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Théme de ieux</font></font></a>
                <a href="../index.ejs#activités" class="item"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Activités</font></font></a>
                
                </div>
        </header>
        <div class="cadre2">
            <span class="cadre">
                <p>Venez découvrir </p> 
                <p>l'ile </p> 
                <p>de la réunion</p> 
            </span>
        </div>
    </div>