<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/semantic/semantic.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <script src="../../js/carrousel.js" async></script>
    <title>Document</title>
</head>
<body>
    <div class='header'>
        <header class="ui blue inverted menu nav">
                <div class="right menu">
                <a href="/" class="item"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Accueil</font></font></a>
                <a href="/index.ejs" class="item"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Théme de lieux</font></font></a>
                <a href="../index.ejs#activités" class="item"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Activités</font></font></a>
                </div>
        </header>
    </div>
    <div class="complete">
    <div class="banheader">
        <div class="imgheader">
            <img class='ban'src="../../img/d.jpg">
        </div>
            <div class="cadre2">
                    <span class="cadre">
                    <p>Découvrir </p> 
                    <p>l'ile </p> 
                    <p>de la réunion</p> 
                    </span>
            </div>       
        
        
    </div>