body {
    margin: 0 !important;
    padding: 0 !important;
}
.cadre{ 
    border: 1px solid black; 
    background-color: black;
    opacity: 0.7;
 }

.ban {
    width: 100%;
    height: 600px;
}
.banheader {
    width: 100%;
    height: 626px;
}
.cadre2 {
    position: relative;
    bottom: 300px;
    left: 80px;
    height: 250px;
}

.cadre {
    Width:35%;
    Height:250px;
    font-weight: bold;
    font-size: 45px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.cadre p {
    line-height: 0;
    color:white;
    width: 100%;
    text-align: center;
    font-size: 40px;
}
    
    

.nav {
    width: 100%;
    height: 94px;
}

header a {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 30px;
}
/* ------------------Video----------------------------- */
iframe {
    width: 65%;
    height: 550px;
}
.cadragevideo {
    display: flex;
    justify-content: center;
    padding-top: 40px;
}
.video {
    padding-top: 50px;
}

/* -----------------------------lieux page index---------------------------- */
.theme {
    padding-top: 50px;
}
.activitesfront {
    padding-top: 40px;
    display: flex;
}
.cadrelieux {
    width: 25% !important;
    height: 580px !important;
}
.rcadre {
    display: flex !important;
    justify-content: space-around !important;
    width: 100%;
    margin: 0px !important;
    padding-top: 40px;
}
.img {
    width: 100% !important;
    height: 290px !important;
}
.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.titretheme{
    font-size: 35px;
    font-weight: bold;
}
.descript {
    text-align: center;
    font-size: 20px;
}
.lienlieux {
    font-size: 20px;
}

/* -------------------------ACTIVITES page index----------------- */


.titreactivites {
    padding-top: 50px;
}
.activitesfront{
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    padding: 1rem 0;
}
.activitesfront{
    margin-left: 1rem;
}
.activitesfront {
    flex: 1 0 450px;
    margin-left: 1rem;
}
.carousel-item {
    height: 216px;
}
.card-act {
    height: 100%;

}
.imageactimg {
    height: 172px;
}
ul {
    list-style-type: none;
}
.card-content-CSS {
    height: 43px;
    display: flex;
    justify-content: center;
    align-items: center;
}
h1 {
    padding-left: 20px;
}



/* ------------------lieux page lieux----------------------------- */
.cadrepagelieux {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    
   
}
.CSSpagelieux h1 {
    text-align: center;
    font-size: 40px;
}
.CSSpagelieux{
    height: 800px;
}
.clieux2 {
    
    height: 80px !important;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    
}
.ui.card {
    margin:0
}
.imglieux {
    height: 240px !important;
}

.clieux {
    
    width: 35% !important;
    margin-top: 30px ! important;
    
}
/* ------------------FOOTER----------------------------- */
.banfooter{
    background-color: black;
    width: 100%;
    height: 600px;
    padding-top: 30px;
    margin-top: 100px;
}
.banfooter img {
    width: 74%;
    height: 533px;

}
.imgfooter {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 0px;
    
}
.textimgfooter {
    position:absolute;
    text-align: center;
}

.textimgfooter h1 {
    font-size: 85px !important;
    color: white;
    padding-bottom: 65px;
}
.rsociaux {
    width: 100%;
    height: 10%;
    background-color: white;
}
.footercontact {
    width: 100%;
    height: 21%;
    display: flex;
    justify-content: space-between;
}
.reseausociale {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 40%;
    
}
.logo {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.imglogo {
    width: 50%;
    height: 70%;
}
.iconcont {
    width: 50%;
    height: 70%;

}
.tailleicon {
    width: 20%;
}
.formpageadmin2 {
    padding-left: 20px;
    padding-right: 150px;
    
}