<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styleADMIN.css">
    <link rel="stylesheet" href="/semantic/semantic.min.css">
    
    
    <title>Document</title>
</head>
<body>
    <div class="ui inverted segment headeradmin">
        <div class="ui inverted pointing menu textheaderadmin">
          <a  href="/admin/dashboard" class="active item"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
            Dashboard
          </font></font></a>
          <a href="/admin/lieux" class="item"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
            Lieux
          </font></font></a>
          <a href="/admin/activites" class="item"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
            Activités
          </font></font></a>
        </div>
      </div>